/* Color palette */
:root {
  --dark: #172735;
  --white: #ffffff;
  --dark-mint: #4bcc8c;
  --blue-purple: #5f35d4;
  --dark-sky-blue: #26b6eb;
  --cool-grey: #979da4;
  --pale-grey: #f3f4f5;
  --silver: #e7e9ea;
}

/* Text styles */
body {
  font-family: Lato, sans-serif;
}

h1 {
  text-align: center;
}

.Page-Title {
  font-size: 52px;
  font-weight: 900;
  line-height: 1.23;
  letter-spacing: 0.6px;
  color: var(--white);
  text-align: left;
}

.Section-Title-Black {
  font-size: 40px;
  font-weight: 900;
  line-height: 1.4;
  letter-spacing: 0.4px;
  text-align: center;
  color: var(--dark);
}

.Section-Title {
  font-size: 40px;
  font-weight: bold;
  line-height: 1.4;
  letter-spacing: 0.4px;
  text-align: center;
  color: var(--dark);
}

.Section-Title-White {
  font-size: 40px;
  font-weight: bold;
  line-height: 1.4;
  letter-spacing: 0.5px;
  text-align: center;
  color: var(--white);
}

.contact .Section-Title-White {
  text-align: left;
}

.Card-Title {
  font-size: 38px;
  font-weight: 900;
  line-height: 1.16;
  letter-spacing: 0.4px;
  color: var(--white);
}

.Section-Subtitle {
  font-size: 32px;
  font-weight: bold;
  line-height: 1.13;
  color: var(--dark);
  text-align: left;
}

.Quote {
  font-family: CrimsonText;
  font-size: 28px;
  line-height: 1.61;
  text-align: center;
  color: var(--dark);
}

.Card-Title-Small {
  font-size: 24px;
  font-weight: 900;
  line-height: 1.33;
  color: var(--white);
}

.Carousel-Title {
  font-size: 22px;
  font-weight: bold;
  line-height: 1.27;
  text-align: center;
  color: var(--dark);
}

.Tagline {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.4;
  color: var(--white);
}

.Text-White {
  font-size: 14px;
  line-height: 2.29;
  color: var(--white);
}

.Text {
  font-size: 14px;
  line-height: 2.29;
  color: var(--dark);
}

.Footer-Subtitle {
  font-size: 14px;
  line-height: 2.57;
  color: var(--cool-grey);
}

.dark {
  background: var(--dark);
}

.wrap {
  max-width: 960px;
  margin: 0 auto;
}

/* Menu */

.hero {
  padding: 56px 0 80px;
}

.menu {
  display: flex;
  margin: 0 -10px;
}

.menu-item {
  font-size: 14px;
  color: var(--white);
  margin: 0 20px;
  text-decoration: none;
  padding: 5px 15px;
  font-weight: bold;
}

.logo {
  margin-right: auto;
}

.contact-button {
  background: var(--dark-mint);
  margin-left: 60px;
}

/* Our Work card*/

.card {
  background-color: var(--dark-mint);
  padding: 50px;
  min-height: 310px;
  margin-bottom: 40px;
  position: relative;
}

.case-study {
  position: absolute;
  left: 50px;
  bottom: 50px;
  color: var(--white);
  font-size: 14px;
  text-decoration: none;
  border-bottom: 2px solid;
  padding-bottom: 6px;
}

.card h2 {
  max-width: 426px;
}

.orange {
  background-color: #ff7200;
}

.pink {
  background-color: #e23356;
}

.green {
  background-color: #6eb152;
}

.black {
  background-color: #282a28;
}

/*Meet the Team Grid*/

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 288px 288px;
  grid-column-gap: 48px;
  grid-row-gap: 24px;
}

.grid-card {
  background-color: var(--dark-mint);
  padding: 25px;
}

.grid-card:nth-child(2n) {
  background-color: var(--blue-purple);
}

/*Book Grid*/

.book-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-column-gap: 48px;
}

.book-grid img {
  grid-row: 1 / span 2;
}

.book-grid a {
  align-self: end;
  justify-self: start;
}

.button {
  font-weight: bold;
  text-decoration: none;
  padding: 12px 20px;
  font-size: 16px;
  color: var(--white);
  background-color: var(--dark-mint);
}

.button-blue {
  background-color: var(--dark-sky-blue);
}
